{#
/**
 * @file deduction_file.html.twig
 * Default theme implementation to present Deduction File data.
 *
 * This template is used when viewing Deduction File pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_deduction_file()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('deduction_file') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
