{#
/**
 * @file order_cancel.html.twig
 * Default theme implementation to present Order Cancel data.
 *
 * This template is used when viewing Order Cancel pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_order_cancel()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('order_cancel') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
