{#
/**
 * @file order_export.html.twig
 * Default theme implementation to present Order Export data.
 *
 * This template is used when viewing Order Export pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_order_export()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('order_export') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
